.container{
    max-width: 1000px;
    margin: 50px auto 0;
    background:fuchsia;
    border-radius: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}
.card{
    max-width: 100%;
}